.container-terceira-parte {
  background-color: var(--c6); /* Fundo preto */
  padding-top: 120px;
  padding-bottom: 120px;
  width: 100%; /* Largura completa da tela */
  margin: 40px 0px; 
  display: flex;
  justify-content: center; /* Centraliza o conteúdo internamente */
  position: relative;
}

.inner-container-terceira-parte {
  width: 80%;
  margin: 0 auto;
}
.grid-terceira-parte{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  text-align: center;
  color: var(--c1);
}
.grid-terceira-parte div{
  border: solid 2px var(--p1);
  border-radius: 10px;
  padding: 40px 20px;
  transition: transform 0.6s ease, opacity 0.6s ease;
  opacity: 0; /* Inicialmente invisível */
  transform: translateY(40px); /* Deslocado para cima */
}

.grid-terceira-parte div.visible {
  opacity: 1; /* Torna visível */
  transform: translateY(0); /* Retorna à posição original */
}
.grid-terceira-parte div:hover{
  transform: scale(1.04);
}
.container-terceira-parte p{
  margin-top: 20px;
  font-size: 1rem;
  color: var(--c3);
}
.detalhe-cima{
  position: absolute;
  top: -40px;
}
.detalhe-baixo{
  position: absolute;
  transform: rotate(180deg);
  bottom: -40px;
}







@media (max-width: 1250px){
  .grid-terceira-parte {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 1100px) {
  .inner-container-terceira-parte {
    width: 80%; /* Aumenta o espaço para pequenos dispositivos */
  }
  
  /* Ajusta a grid para duas colunas */
}

/* Tamanho de telas pequenas (celulares) */
@media (max-width: 768px) {
  .inner-container-terceira-parte {
    width: 95%;
  }

  /* Ajusta a grid para uma coluna */
  .grid-terceira-parte {
    grid-template-columns:   1fr;
    gap: 20px; /* Reduz o espaço entre os itens */
  }

  /* Ajusta o padding dos itens da grid em telas menores */
  .grid-terceira-parte div {
    padding: 20px 10px;
  }

  /* Aumenta o tamanho da fonte do texto */
  .container-terceira-parte p {
    font-size: 0.9rem;
  }
  .container-terceira-parte h1{
    font-size: 1.5rem;
  }
  .container-terceira-parte{
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
